body {
    background-color: #555;
    color: #fff;
} 

.content{
    display: flex;
    flex-wrap: wrap;
}

.max{width: 100%;}

.table{
    height: 60vh;
    overflow: scroll;
    overflow-x: hidden;
}

table {
    border: outset #fff 2px;
    margin: 10px;
    flex-grow: 1;
    padding: 5px;
}
td {
    border: inset #fff 1px;
    margin: 1px;
    padding: 3px;
}
th {
    border: outset #fff 1px;
    margin: 1px;
    padding: 3px;
}