body {
    background-color: #555;
    color: #fff;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

.content{
    display: flex;
    flex-wrap: wrap;
}

.max{
    width: 100%;
    background-color: #031e17;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
}

.table{
	border: outset #fff 2px;
    height: 70vh;
	margin: 5px;
    flex-grow: 1;
    overflow: scroll;
    overflow-x: hidden;
	border-radius: 5px;
}

table {
	width: 97%;
    margin: 2px;
    padding: 5px;
}

td {
    border-bottom: solid #fff 2px;
    margin: 2px;
    padding: 5px;
	padding-left: 20px;
}

th {
    border-bottom: solid #fff 2px;
    margin: 2px;
    padding: 5px;
	padding-left: 20px;
}

tr {
    border-bottom: solid #fff 2px;
    transition: 0.2s;
	border-radius: 5px;
}

tr:hover {
    background-color: #ccc;
    color: #000;
}

input[type=submit] {
    background-color: #9cd5c5;
  	border: none;
  	color: #000;
  	padding: 10px 20px;
  	text-align: center;
	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	cursor: pointer;
  	border-radius: 5px;
  	transition: 0.2s;
}

input[type=submit]:hover {
    background-color: #031e17;
    color: #fff;
}